@model IEnumerable<review.Models.FootballSchedule>

@{
    ViewBag.Title = "Index";
}

<h2>OU Football Schedule for 2019</h2>

@foreach (var item in Model)
{


    if (item.IsHomeGame == true)
    {
        <div class="footballhome" style="color:white;margin:10px; border:solid;border-radius:25px; height:255px;width:200px;float:left;background-color:darkred;">
            <div class="body">
                <img src="https://cdn3.iconfinder.com/data/icons/streamline-icon-set-free-pack/48/Streamline-18-512.png" style="height:20px;width:20px;float:left;" />
                <h3>OU Vs. @item.Opponent</h3>
                <p>@item.Date.ToLongDateString()</p>
            </div>
        </div>
    }
    if (item.IsHomeGame == false)
    {
        <div class="footballaway" style="color:white;margin:10px; border:solid;border-radius:25px; height:255px;width:200px;float:left;background-color:black;">
            <div class="body">
                <img src="https://cdn3.vectorstock.com/i/1000x1000/18/17/the-globe-icon-vector-20641817.jpg" style="height:20px;width:20px;float:left" />
                <h3>OU Vs. @item.Opponent</h3>
                <p>@item.Date.ToLongDateString()</p>
            </div>
        </div>
     }
}

